* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf3f8;

  background-color: #edf3f8;
  background-image: url("./imgs/Bitmap.png ");
  background-repeat: no-repeat;
  background-position: right -500px top -600px;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 22px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
  gap: 64px;
}

nav a {
  text-decoration: none;
  color: #697a87;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  margin: 0px 40px;
  transition: all 0.1s linear;
}
nav a:hover {
  color: #36536b;
  transition: all 0.1s linear;
}

button {
  padding: 12px 24px;
  border-radius: 24px;
  border: none;
  background-color: #ba4270;
  color: #fbfcfe;
  transition: all 0.2s linear;
}
button:hover {
  background-color: #d7618f;
  cursor: pointer;
  transition: all 0.2s linear;
}

.head-hero {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* gap: 200px; */
}

.hero h2 {
  font-size: 72px;
  line-height: 72px;
  font-weight: 400;
  letter-spacing: -0.55px;
  color: #36536b;
  max-width: 500px;
  margin-top: 150px;
}

.hero p {
  color: #697a87;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 18px;
  /* margin-top: 10px; */
}

.hero img {
  margin-top: 21px;
  transition: all 0.2s linear;
}
.hero img:hover {
  transform: scale(1.01);
  transition: all 0.2s linear;
}

.main-hero {
  background-color: #1b262f;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 100px;
  border-radius: 12px;
  /* justify-content: space-between; */
}
.text h2 {
  color: #fbfcfe;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.37px;
  /* margin: 100px; */
}
.text p {
  color: #e1e2e3;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  width: 400px;
  margin-top: 24px;
}

.text button {
  background-color: #1b262f;
  border: 2px solid;
  margin-top: 32px;
}

.imgs img {
  max-width: 400px;
}

.section {
  display: flex;
  /* align-items: center; */
}
.section-text h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.37px;
  color: #36536b;
  margin-top: 110px;
}

.section-text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6c8294;
  max-width: 380px;
  margin-top: 24px;
}
